{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1 class="mb-4">Commande index</h1>

    <div class="card p-4 shadow-lg rounded">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date Commande</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ commande.statut }}</td>
                    <td>
                        <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                        <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_commande_new') }}" class="btn btn-success mt-2">Create new</a>

{% endblock %}
