{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1 class="mb-4">Restaurant index</h1>

<div class="card p-4 shadow-lg rounded">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.nom }}</td>
                <td>{{ restaurant.localisation }}</td>
                <td>
                    <a href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}" class="btn btn-primary btn-sm">show</a>
                    <a href="{{ path('app_restaurant_edit', {'id': restaurant.id}) }}" class="btn btn-warning btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_restaurant_new') }}" class="btn btn-success mt-2">Create new</a>
{% endblock %}
